body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 1em;
    padding-top: 1em;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    flex: 1;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    gap: 24px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
}

.content-item {
    box-sizing: border-box;
    height: 400px;
    padding-left: 200px;
    padding-right: 200px;
}

#first-section {
    background-color: #1f2937;
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

#first-section div {
    display: flex;
    /*background-color: pink;*/
}

#first-left {
    flex: 1;
    box-sizing: border-box;
    padding-right: 36px;
    display: flex;
    flex-direction: column;
    /*justify-content: sta;
    /*gap: 8px;*/
}

#first-left p {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 8px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

#first-right {
    flex: 1;
}

h1 {
    margin: 0;
    padding: 0;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

#second-section {
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 35px;
}

#info-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.info {
    width: 150px;
}

.info div {
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.info p {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    color: #1f2937;
    font-weight: 400;
}

#third-section {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
    margin-top: 8px;
}

#fourth-section {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 350px;
    box-sizing: border-box;
    display: flex;
}

.cta-container {
    background-color: #3882f6;
    padding: 25px 100px;
    /*padding-left: 100px;
    padding-right: 100px;*/
    border-radius: 10px;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.cta-text-container {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.cta-title {
    font-size: 24px;
    font-weight: bold;
}

.cta-button-space {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-button-space button {
    border: 2px solid #f9faf8;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
